.container {
    display: flex;
    flex-direction: row;
    margin: 5px;
}


.cardcontain {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 500px;
    width: 250px;
    margin: 10px;
}

.h5 {
    padding: 5px;
    margin: 5px;
}

.p {
    padding: 5px;
    margin: 5px;
}

.img {
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 5px;
}

.button {
    padding: 5px;
    margin: 5px;
    height: 75px;
    width: 100px;
    background-color: aqua;
}